<main>
  <div class="card">
    <header>
      <h1>New Space Email Invitation</h1>
    </header>

    <div class="card-content">
      <%= notice %>

      <%= render "invitations/form", form: @invitation_form %>

      <div class="card-actions">
        <%= link_to "Back to Members", space_members_path(@space) %>
      </div>
    </div>
  </div>
</main>
