<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% team_members.each do |member| %>
      <% user = member.user %>

      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= member.role %></td>
        <td><%= link_to "Remove", team_member_path(member), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
