<main>
  <div class="card">
    <header>
      <h1>Edit Team</h1>
    </header>

    <div class="card-content">
      <%= notice %>

      <%= render 'form', team: @team_form, url: team_path %>

      <div class="card-actions">
        <%= link_to 'Back', @team %>
      </div>
    </div>
  </div>
</main>
