<main>
  <div class="card">
    <header>
      <h1>New Team</h1>
    </header>

    <div class="card-content">
      <%= render 'form', team: @team_form, url: teams_path %>

      <div class="card-actions">
        <%= link_to 'Back', teams_path %>
      </div>
    </div>
  </div>
</main>
