.avatars {
  @include clearfix;
  display: block;
  transition: all 0.3s;

  &:hover, &:active, &:focus {
    opacity: 0.6;
  }

  img, span {
    display: block;
    float: left;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    margin-right: 6px;
  }

  img {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
  }

  .avatars-add {
    border: 1px dotted #A1AAB3;
    background: url(../assets/images/space/add-member-icon.svg) no-repeat center center;
  }
}
