.edit-toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 61px;
  background: #fff;
  border-top: 1px solid #EBEDF0;
}

.ql-toolbar {
  position: fixed;
  bottom: 10px;
  left: 390px;
  z-index: 101;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  top: auto !important;
  bottom: 100%;
}

.ql-snow .ql-tooltip {
  visibility: visible !important;
  z-index: 102;
}

.space-page-edit input[type=submit] {
  position: fixed;
  bottom: 9px;
  right: 9px;
  z-index: 101;
}

.edit-toolbar-new-page {
  display: inline-block;
  height: 60px;
  font-size: 13px;
  line-height: 60px;
  padding: 0 30px 0 65px;
  color: $color-text-secondary;
  background: url(../assets/images/space/new-page-icon.svg) no-repeat 30px center;
  transition: all 0.2s;

  &:hover, &:active, &:focus {
    text-decoration: none;
    color: $color-primary;
    background-image: url(../assets/images/space/new-page-icon-on.svg);
  }
}

.edit-toolbar-status {
  display: inline-block;
  position: absolute;
  right: 115px;
  top: 0;
  font-size: 13px;
  line-height: 60px;
  color: #bfbfbf;
}
