.space-page-container {
  padding: 0 108px 0 408px;
}

/**
 * Page
 */
.space-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 120px 24px 60px 0;
}



/**
 * Page meta
 */
.space-page-meta {
  font-size: 14px;
  color: #999;
  margin: 6px 0 48px 0;
}



/**
 * Page content
 */
.space-page-content {
  // Remove the top margin for the first child
  > *:first-child {
    margin-top: 0;
  }

  // Reduce margin between headlines and next sibling
  h2, h3, h4, h5, h6 {
    & + * {
      margin-top: 12px;
    }
  }
}
