/**
 * Sidebar
 */
.space-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 301px;
  height: 100%;
  background: #F5F7FA;
  border-right: 1px solid #EBEDF0;
  padding: 102px 30px 60px 30px;
  overflow: auto;

  h3 {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: $color-text-secondary;
    margin: 0;
  }

  h3 a {
    display: block;
    color: $color-text-secondary;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s;

    &:hover, &:active, &:focus {
      color: $color-text-secondary;
      text-decoration: none;
      opacity: 0.6;
    }
  }
}



/**
 * Members widget
 */
.space-sidebar-members {
  @include clearfix;
  display: block;
  padding: 18px 0 24px 0;
  transition: all 0.3s;

  &:hover, &:active, &:focus {
    opacity: 0.6;
  }

  img, span {
    display: block;
    float: left;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    margin-right: 6px;
  }

  img {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
  }

  .space-sidebar-members-add {
    border: 1px dotted #A1AAB3;
    background: url(../assets/images/space/add-member-icon.svg) no-repeat center center;
  }
}



/**
 * Pages navigation
 */
.space-sidebar-pages {
  margin: 0;
  padding: 12px 0 0 0;
  list-style: none;
  border-top: 1px solid #EBEDF0;

  li {
    display: block;
    padding: 0;
  }

  li a {
    display: block;
    color: $color-text-secondary;
    font-size: 14px;
    line-height: 18px;
    padding: 9px 18px;
    background: url(../assets/images/space/page-bullet-icon.svg) no-repeat left center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s;

    &.space-sidebar-pages-closed {
      background-image: url(../assets/images/space/page-closed-icon.svg);
    }

    &.space-sidebar-pages-open {
      background-image: url(../assets/images/space/page-open-icon.svg);
    }
  }

  .space-sidebar-active a, li a:hover, li a:active, li a:focus {
    color: $color-primary;
    text-decoration: none;
  }

  // Nested lists
  ul {
    margin: 0;
    padding: 0 0 0 18px;
    list-style: none;
  }
}
