.space-actions {
  position: fixed;
  width: 144px;
  bottom: 24px;
  right: 24px;

  .button {
    width: 144px;
    margin-top: 10px;
  }

  .button-icon-members {
    background-image: url(../assets/images/space/members-icon.svg);
  }

  .button-icon-edit {
    background-image: url(../assets/images/space/edit-icon.svg);
    background-position: 18px center;
  }

  .button-icon-share {
    background-image: url(../assets/images/space/share-icon.svg);
  }
}
