/**
 * Topbar
 */
.topbar {
  @include clearfix;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #EBEDF0;
}

.body-space {
  .topbar {
    border-bottom: 0;
  }

  input.topbar-search {
    width: 301px;
    height: auto;
    border-right: 1px solid #EBEDF0;
    border-bottom: 1px solid #EBEDF0;
  }
}

.body-space.body-space-edit {
  .topbar {
    display: none;
  }
}



/**
 * Search
 */
input.topbar-search {
  display: block;
  float: left;
  background: #fff;
  width: 300px;
  width: calc(100% - 450px);
  height: 60px;
  padding: 22px 30px;
  margin: 0;
  border: 0;
  border-radius: 0;
  font-size: 14px;
  line-height: 16px;
  color: $color-text-primary;
  transition: all 0.3s;

  &:hover, &:focus {
    outline: none;
  }

  &::-webkit-input-placeholder {
    color: #b2b2b2;
  }

  &::-moz-placeholder {
    color: #b2b2b2;
  }

  &:-ms-input-placeholder {
    color: #b2b2b2;
  }
}



/**
 * Navigation container
 */
nav {
  @include clearfix;
  float: right;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    float: left;
  }

  a {
    display: block;
    font-size: 13px;
    line-height: 60px;
    color: $color-text-secondary;
    text-decoration: none;
    transition: all 0.3s;
    vertical-align: middle;

    &:hover, &:active, &:focus {
      color: $color-text-secondary;
      text-decoration: none;
      opacity: 0.6;
    }
  }
}



/**
 * Spaces navigation
 */
.topbar-spaces {
  padding: 0 15px;

  span {
    display: inline-block;;
    width: 45px;
    height: 30px;
    border-radius: 4px;
    background: transparent url(../assets/images/topbar/temp-space-thumb.png) no-repeat center center;
    background-size: cover;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    margin: -1px 18px 0 0;
    vertical-align: middle;
  }
}



/**
 * Team navigation
 */
.topbar-team {
  padding: 0 15px;

  img {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: -1px 18px 0 0;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
  }
}



/**
 * Account navigation
 */
.topbar-account {
  padding: 0 30px 0 15px;

  img {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-top: -1px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
  }
}
