/log/*
/tmp/*
!/log/.keep
!/tmp/.keep


/yarn-error.log

.byebug_history
.DS_Store
npm-debug.log

/.bundle
node_modules/
public/assets/
public/uploads/
public/stylesheets/
public/images/
public/javascripts/
/public/packs
/public/packs-test
/node_modules
