<main>
  <div class="card">
    <header>
      <h1>We've sent you an email</h1>
    </header>

    <div class="card-content">

      <p>To continue, please check your inbox and confirm your email-address by clicking on the link</p>


      <%= link_to "Resend Confirmation", resend_email_confirmation_path, method: :post %>

      <p>Change email:</p>

      <%= email_field_tag "email" %>

      <%= submit_tag :update_email_address %>

    </div>
  </div>
</main>
