<ul>
  <% teams.each do |team| %>

    <li>
      <%= image_tag team.logo_url(:image_32) %>
      <%= link_to team.name, root_subdomain_url(subdomain: team.subdomain), target: "blank" %>
    </li>

  <% end %>
</ul>
