<% teams.each do |team| %>
  <span>
    <img src="<%= team.logo_url(:image_32) %>">
    <a href="<%= root_subdomain_url(subdomain: team.subdomain) %>" style="font-size: 15px;"><%= team.name %></a>
  </span>
<% end %>
