<h1 class="center">Say Hi, to Spaces.is</h1>

<p class="center"><img src="http://www.wallpaper77.com/upload/DesktopWallpapers/thumbs/Astronaut-on-the-Moon-space-wallpapers-planet-wallpapers-earth-black-planet-orbit_big.jpg" width="290px"/></p>


<p class="center">Enter a unique Space,<br> full of Knowledge</p>

<% if !user_signed_in? %>

<p class="center">
  <%= link_to "Sign In", method_path %>

  <br>

  <%= link_to "or create Team", method_path %>
</p>

<% end %>
