<h1>Landing#index</h1>

<%= render "available_users_teams_list" %>

<% if !user_signed_in? %>

  <p><%= link_to "Sign In", choose_login_method_path %></p>

  <%= link_to "or create Team", choose_login_method_path(create_team: true) %>

<% end %>
