<style>
    html, body {
        height: 100%;
    }

    body{
        margin: 0;
        -webkit-animation: background-pulse 18s infinite;
        animation: background-pulse 18s infinite;
    }

    a {
        color: #004941;
    }

    @-webkit-keyframes background-pulse{
        0% { background: #b3ccff; }
        25% { background: #74dfff; }
        50% { background: #d991ff; }
        75% { background: #879cff; }
        100% { background: #b3ccff; }
    }

    @keyframes pulse {
        0% { background: #b3ccff; }
        25% { background: #74dfff; }
        50% { background: #d991ff; }
        75% { background: #879cff; }
        100% { background: #b3ccff; }
    }

    .flex-container {
        height: 100%;
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .row {
        width: auto;
    }
    .flex-item {
        padding: 5px;
        width: 300px;
        margin: 10px;
        line-height: 20px;
        color: white;
        font-weight: bold;
        font-size: 1em;
        text-align: center;
    }
</style>

<div class="flex-container">
    <div class="row">
        <div class="flex-item">
            <img src="<%= fingerprinted_asset("images/static/helmet.png") %>" style="width: 147px">
        </div>
        <div class="flex-item">
            <%= render "available_teams", teams: available_users.teams %>
        </div>
        <div class="flex-item">
            <%= link_to "Sign in to existing team", choose_login_method_path, style: "font-size: 13px;" %> <div style="font-size:15px">or</div>
            <%= link_to "Create new", choose_login_method_path(create_team: true), style: "font-size: 13px;" %>
        </div>
    </div>
</div>
