<main>
  <div class="card">
    <header>
      <h1>Editing Space</h1>
    </header>

    <div class="card-content">
      <%= render 'form', space: @space %>

      <div class="card-actions">
        <%= link_to 'Back', spaces_path(@space.team) %>
      </div>
    </div>
  </div>
</main>
