<main>
  <div class="card">
    <header>
      <h1>Editing Space</h1>
    </header>

    <div class="card__content">
      <%= render "form", form: @space_form %>

      <div class="card__actions">
        <%= link_to "Member Settings", space_members_path(@space) %>
        <%= link_to "Back", spaces_path(@space.team) %>
      </div>
    </div>
  </div>
</main>
