<main>
  <div class="card">
    <header>
      <h1>New space</h1>
    </header>

    <div class="card__content">
      <%= render 'form', form: @space_form %>

      <div class="card__actions">
        <%= link_to 'Back', spaces_path %>
      </div>
    </div>
  </div>
</main>
