<main>
  <div class="card">
    <header>
      <h1><b>3/3</b> | Slack Register</h1>
    </header>

    <div class="card__content">
      <div class="card__actions">
        <%= link_to "Register with Slack", user_slack_omniauth_authorize_url(subdomain: ENV["DEFAULT_SUBDOMAIN"], state: :register) %>
      </div>
    </div>
  </div>
</main>
