<main>
  <div class="card">
    <header>
      <h1>Edit Account</h1>
    </header>

    <div class="card-content">
      <%= notice %>

      <%= render "personal_info_form", user: @update_settings_form %>

      <%= render "password_form", user: @update_settings_form if @user.login_using_email? %>


      <div class="card-actions">
        <%= link_to "Back", @user %>
      </div>
    </div>
  </div>
</main>
