<main>
  <div class="card">
    <header>
      <h1>Edit User</h1>
    </header>

    <div class="card-content">
      <%= notice %>

      <%= render 'form', user: @user %>

      <div class="card-actions">
        <%= link_to 'Back', @user %>
      </div>
    </div>
  </div>
</main>
