<main>
  <div class="card">
    <header>
      <h1>Edit Account</h1>
    </header>

    <div class="card__content">
      <%= notice %>

      <%= render "personal_info_form", form: @update_settings_form %>

      <%= render "password_form", form: @update_settings_form if @user.login_using_email? %>


      <div class="card__actions">
        <%= link_to "Back", root_subdomain_path %>
      </div>
    </div>
  </div>
</main>
