<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Emmanuel</h1>
    <p>
      Join Spaces
    </p>
   <%= link_to "Join", @url %>
  </body>
</html>
