// Spaces variables
$font-family: "Karla", sans-serif;
$color-primary: #02B875;
$color-title: #2E3033;
$color-text-primary: #2E3033;
$color-text-secondary: #606366;
$color-text-third: #797C7F;
$color-text-faded: #919499;
$easing: cubic-bezier(0.19, 1, 0.22, 1);

// Bootstrap variables
$grid-gutter-width: 24px;
