// Spaces variables
$font-family: "soleil", sans-serif;
$color-primary: #34A853;
$color-title: #333;
$color-text-primary: #333;
$color-text-secondary: #737373;
$color-text-faded: #b3b3b3;

// Bootstrap variables
$grid-gutter-width: 24px;
