// Spaces variables
$font-family: "Gotham A", "Gotham B", sans-serif;
$color-primary: #0099E6;
$color-title: #0C1319;
$color-text-primary: #41474D;
$color-text-secondary: #66737F;
$color-text-faded: #757A80;

// Bootstrap variables
$grid-gutter-width: 24px;
