<h1 class="center">2/3</h1>

<p class="center"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/573193-200.png" width="130px" style="background-color:white" /></p>

<p class="center">Please type your email address</p>

<%= form_tag(email_method_path, method: :get, class: "center") do %>

  <%= text_field_tag :email, nil, placeholder: "Email" %>

  <br>

  <%= submit_tag 'This is my email' %>
<% end %>

<br>
<p class="center"><%= link_to "Back", method_path, style: "color:grey" %></p>

