<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Auth-Method</th>
    </tr>
  </thead>

  <tbody>
    <% space_users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.auth_method %></td>
      </tr>
    <% end %>
  </tbody>
</table>
