<div class="space-actions">
  <h3><%= link_to current_space.name, space_pages_path(current_space) %></h3>

  <%= link_to 'Edit space', edit_page_path(page), class: 'space-actions__edit' %>

  <%= render "avatar_users" %>
</div>
