<nav class="space-actions space-actions--edit">
  <ul>
    <li>
      <%= link_to space_pages_path(@page.space, params: { page: { _: true } }), method: :post, class: "space-actions__new" do %>
        <span>New <span>Page</span></span>
      <% end %>
    </li>

    <li>
      <%= link_to edit_space_path(@page.space), class: "space-actions__settings" do %>
        <span>Settings</span>
      <% end %>
    </li>
  </ul>

  <%= link_to("View Page", @page, class: 'space-actions__view') %>
</nav>
