<% page_tree.map do |page, page_tree| %>
    <li>
        <%= link_to((page.title || "Untitled"), edit_page_path(page)) %>

        <div class="space-sidebar-edit-actions">
            <span class="space-sidebar-move"></span>
            <%= link_to "", page, method: :delete, class: "space-sidebar-remove", data: { confirm: "Are you sure?" } %>
            <%= link_to "", space_pages_path(page.space, params: { page: { parent_id: page.id}}), method: :post, class: "space-sidebar-add-subpage" %>
        </div>

        <% if page_tree.size.positive? %>
            <ul>
                <%= render "edit_page_tree", page_tree: page_tree %>
            </ul>
        <% end %>
    </li>
<% end %>
