<% page_tree.map do |page, page_tree| %>
    <li>
        <%= link_to(page.title, page) %>

        <div class="space-sidebar-edit-actions">
            <span class="space-sidebar-move"></span>
            <%= link_to '', page, class: 'space-sidebar-remove', method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to '', new_space_page_path(@page.space, parent_id: @page.id), class: 'space-sidebar-add-subpage' %>
        </div>

        <% if page_tree.size.positive? %>
            <ul>
                <%= render "edit_page_tree", page_tree: page_tree %>
            </ul>
        <% end %>
    </li>
<% end %>
