<aside class="space-sidebar">
  <h3><%= link_to space.name, space_pages_path(space) %></h3>

  <%= render "avatar_users", avatar_users: @sample_users_query.sample_users,
                             number_of_hidden_avatars: @sample_users_query.users_not_in_sample_count  %>

  <ul class="space-sidebar-pages">
    <%= render "page_tree", page_tree: space.pages.hash_tree %>
  </ul>
</aside>

<style type="text/css">
.hovered {
  width:100%;
  height:30px;
  background-color:red}
</style>

<script>
  $(function(){


    function handleDropEvent( event, ui ) {
        var editor_settings =  <%= editor_settings %>;

        var id = ui.draggable.data("id");
        var parent_id = $(this).data("parent-id");

        console.log("id");
        console.log(id);
        console.log("parent");
        console.log(parent_id);


        $.ajax({
            url: "" + id,
            headers: { "X-CSRF-Token": editor_settings['csrf_token'] },
            method: "PATCH",
            dataType: "json",
            data: { page: {parent_id: parent_id} },
            success: function(data, textStatus, jqXHR){

                console.log("Successfully updated page");

            },
            error: function(jqXHR, textStatus, errorThrown){

                console.log("Could not update page");

            }
        });



        ui.draggable.addClass( 'correct' );
        ui.draggable.draggable( 'disable' );
        $(this).droppable( 'disable' );
        //ui.draggable.position( { of: $(this), my: 'center', at: 'center' } );
        ui.draggable.draggable( 'option', 'revert', false );
    }


    $( ".draggable" ).draggable({
      //containment: '#page-tree-content',
      //snap: '#page-tree-content',
      cursor: 'move'});

     $('.droppable').droppable( {
        drop: handleDropEvent,
        hoverClass: 'hovered'
      });
  });
</script>
