<nav class="space-actions">
  <ul>
    <li>
      <%= link_to edit_page_path(@page), class: "space-actions__edit" do %>
        Edit <span>Page</span>
      <% end %>
    </li>

    <li>
      <%= link_to space_pages_path(@page.space, params: { page: { _: true } }), method: :post, class: "space-actions__new" do %>
        New <span>Page</span>
      <% end %>
    </li>

    <!-- <li>
      <%= link_to edit_space_path(@page.space), class: "space-actions__settings" do %>
        <span>Settings</span>
      <% end %>
    </li> -->
  </ul>
</nav>
