<main>
  <div class="card">
    <header>
      <h1>Edit Page</h1>
    </header>

    <div class="card-content">
      <%= render 'form', page: @page %>

      <div class="card-actions">
        <%= link_to 'Back', @page %> | 
        <%= link_to 'Destroy', @page, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
</main>

<script>
  $(function(){
    Spaces.Editor.init("#page-editor", <%= editor_settings(current_user.id, 'collab_pages', @page.id) %>);
  });
</script>
