<h1>Editing Page</h1>

<%= render 'form', page: @page %>

<%= link_to 'Show', @page %> |
<%= link_to 'Back', space_pages_path(@page.space) %>

<div id="page-editor"></div>

<script>
  var editor = new Spaces.Editors.Quill(<%= editor_settings("#page-editor", current_user.id, 'collab_pages', @page.id) %>);
</script>
