<h1>Editing Page</h1>

<%= render 'form', page: @page %>

<%= link_to 'Show', @page %> |
<%= link_to 'Back', space_pages_path(@page.space) %>

<div id="page-editor"></div>

<script>
  $(function(){
    Spaces.Editor.init("#page-editor", <%= editor_settings(current_user.id, 'collab_pages', @page.id) %>);
  });
</script>
