<% content_for :body_class, 'body-space' %>

<%= render 'sidebar', space: @space,
                      pages: @pages,
                      avatar_users: @space.avatar_users,
                      show_unseen: number_of_unseen_avatars %>

<div class="space-page-container">
  <main class="space-page">
    <%= notice %>

    <h1><%= @space.name %></h1>

    <p>
      It's empty in here. Let's add some pages!
    </p>

    <%= link_to "Edit space", new_space_page_path(@space), class: 'button button-primary' %>
  </main>
</div>
