<div class="mobile-space-toc">
  <a href="#mobile-space-toc__content" class="mobile-space-toc__toggle" aria-expanded="false" aria-controls="navigation">
    <%= current_space.name %>
  </a>

  <div class="mobile-space-toc__content" id="mobile-space-toc__content">

  </div>
</div>





<%= render 'actions', page: @page %>

<div class="clearfix" id="sticky-container">
  <%=
    render 'sidebar',
    space: @page.space,
    pages: @page.space.pages,
    sample_users_query: @sample_users_query
  %>

  <%= render 'page_contents', page: @page, notice: notice %>
</div>

<script>
  $(function(){
    // Sticky sidebar
    $('.space-sidebar').stick_in_parent({
      parent: '#sticky-container',
      offset_top: 36
    })
  })
</script>
