.mobile-space-navigation {
  .space-actions {
    display: block;
  }
}

.mobile-space-navigation__toggle {
  @include ellipsis;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  z-index: 201;
  padding: 0 24px;
  background: #fff url(../images/space/space-navigation-open.svg) no-repeat right 24px center;
  border-bottom: 1px solid #EEEFF0;
  font-size: 13px;
  line-height: 48px;
  color: $color-text-secondary;

  &:hover, &:active, &:focus {
    color: $color-text-secondary;
    opacity: 0.6;
  }

  &.mobile-space-navigation__toggle--open {
    background-image: url(../images/space/space-navigation-close.svg);
  }
}

.mobile-space-navigation__content {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 200;
  background: #fff;
  padding: 72px 24px;

  .space-toc {
    a {
      line-height: 36px;
    }
  }

  .page-tree__toggle {
    display: none;
  }
}



// Media queries
@media (min-width: 769px) {
  .mobile-space-navigation {
    display: none;
  }
}
