/**
 * Sidebar
 */
.space-sidebar {
  max-width: 324px;
  margin: 63px 0 0 0;
  padding: 0 120px 24px 36px;

  &:hover {
    .space-sidebar__pages li > a:first-child {
      color: $color-text-primary;
    }
  }

  h3 {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    line-height: 30px;
    color: $color-text-primary;
  }

  h3 a {
    @include ellipsis;
    display: block;
    color: $color-text-secondary;

    &:hover, &:active, &:focus {
      color: $color-text-secondary;
      opacity: 0.6;
    }
  }
}



/**
 * Pages navigation
 */
.space-sidebar__pages {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: block;
    padding: 0;
  }

  li > a:first-child {
    @include ellipsis;
    display: block;
    color: $color-text-secondary;
    font-size: 13px;
    line-height: 18px;
    padding: 6px 0;
    // background: url(../images/space/page-bullet-icon.svg) no-repeat left center;

    &.space-sidebar__closed {
      // background-image: url(../images/space/page-closed-icon.svg);
    }

    &.space-sidebar__open {
      // background-image: url(../images/space/page-open-icon.svg);
    }
  }

  li.space-sidebar__active > a:first-child, li a:hover, li a:active, li a:focus {
    color: #B3B3B3 !important;
  }

  // Nested lists
  ul {
    margin: 0;
    padding: 0 0 0 12px;
    list-style: none;
    position: relative;

    // &:before {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 1px;
    //   height: 100%;
    //   background: #E6E8EB;
    //   border-top: 10px solid #fff;
    //   border-bottom: 11px solid #fff;
    // }
  }
}



/**
 * Edit sidebar
 */
.space-sidebar.space-sidebar--edit {
  margin-top: 40px;

  &:hover, &:active, &:focus {
    h3 span, .space-sidebar__edit-actions {
      opacity: 1;
      top: 0;
    }
  }

  h3 {
    position: relative;
  }

  h3 span {
    display: block;
    position: absolute;
    top: 5px;
    right: -96px;
    height: 24px;
    width: 42px;
    padding: 0 12px;
    background: #fff url(../images/space/settings-icon.svg) no-repeat center center;
    opacity: 0;
    transition: all 0.4s;
  }

  li {
    position: relative;
  }
}

.space-sidebar__edit-actions {
  position: absolute;
  top: 5px;
  right: -90px;
  opacity: 0;
  transition: all 0.4s;

  span, a {
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    padding: 0 6px;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 0.2s;

    &:hover, &:active, &:focus {
      opacity: 0.6;
    }
  }
}

.space-sidebar__move {
  background-image: url(../images/space/move-icon.svg);
  cursor: move;
}

.space-sidebar__remove {
  background-image: url(../images/space/remove-icon.svg);
  width: 27px;
}

.space-sidebar__add-subpage {
  background-image: url(../images/space/add-subpage-icon.svg);
  width: 31px;
}

@media (min-width: 1400px) {
  .space-sidebar {
    margin-top: 87px;
  }
}
