/**
 * Page
 */
.space-page {
  margin: 0 auto;
  padding: 60px 0 60px 0;
}



/**
 * Page meta
 */
.space-page__meta {
  font-size: 16px;
  color: #A6A6A6;
  margin: 12px 0 0 0;
}



/**
 * Page content
 */
.space-page__content {
  padding-top: 21px;

  // Remove margins from elements and let users control this with linebreaks instead, i.e. <p><br></p> in the editor
  h2, h3, h4, h5, h6, p, ul, ol, pre, table, form, label {
    margin: 0;
  }

  // The <br> line-height controls the height of linebreaks
  br {
    line-height: 24px;
  }

  // Add header margins
  h2, h3, h4, h5, h6 {
    margin-top: 12px;

    & + * {
      margin-top: 12px;
    }
  }

  // Style images
  img {
    border-radius: 5px;
  }

  // Unordered lists
  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 0 0 0 18px;
      background: url(../images/space/ul-icon.svg) no-repeat 0 12px;
    }
  }

  // Ordered lists
  ol {
    padding: 0 0 0 18px;
  }

  li {
    margin-top: 6px;

    &:first-child {
      margin-top: 0;
    }
  }
}



/**
 * Edit page
 */
.space-page.space-page--edit {
  padding-top: 32px;
  padding-bottom: 120px;

  form {
    margin: 0;
  }

  input[type=text] {
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    height: 48px;
    color: $color-title;
    margin-top: 0;
    border: 0;
    padding: 0;
    background: transparent;
    border-radius: 0;

    &:hover, &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: #999;
    }

    &::-moz-placeholder {
      color: #999;
    }

    &:-ms-input-placeholder {
      color: #999;
    }
  }

  .ql-editor.ql-blank::before {
    font-style: normal;
    color: #999;
  }
}

#page-editor {
  position: relative;
}

@media (min-width: 1400px) {
  .space-page {
    padding-top: 84px;
  }
}
