.button {
  display: inline-block;
  width: auto;
  font-size: 13.5px;
  font-weight: normal;
  line-height: 18px;
  text-decoration: none;
  background: #F7FAFC;
  color: $color-text-secondary;
  margin: 36px 0 0 0;
  padding: 12px 24px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #DCDFE1;
  cursor: pointer;
  transition: all 0.4s $easing;

  &:hover, &:active, &:focus {
    // transform: scale(1.025);
    text-decoration: none;
    border-color: $color-primary;
    background: $color-primary;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    color: #fff;
    outline: 0;
  }
}

.button--medium {
  padding: 8px 18px;
  font-size: 13px;
}

.button--small {
  padding: 6px 20px;
  font-size: 13px;
}

.button--primary {
  border-color: $color-primary;
  background: $color-primary;
  color: #fff;

  &:hover, &:active, &:focus {
    background: darken($color-primary, 5%);
    border-color: darken($color-primary, 5%);
    color: #fff;
  }
}

.button--outline {
  background: transparent;
  border-color: $color-primary;
  color: $color-primary;
}
