.edit-space {

}

.edit-space__resize-message {
  padding: 96px 24px;
  text-align: center;

  p {
    display: block;
  }

  .button {
    margin-top: 24px;
  }
}

.edit-space__content {
  display: none;
}

@media (min-width: 1260px) {
  .edit-space__resize-message {
    display: none;
  }

  .edit-space__content {
    display: block;
  }
}
