.mobile-space-navigation {
  .space-actions {
    display: block;
  }
}

.mobile-space-navigation__toggle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  z-index: 201;
  background: #fff;
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);

  a {
    @include ellipsis;
    display: block;
    padding: 0 24px;
    background: url(../images/space/space-navigation-open.svg) no-repeat right 24px center;
    font-size: 13px;
    line-height: 48px;
    color: $color-text-secondary;

    &:hover, &:active, &:focus {
      color: $color-text-secondary;
      opacity: 0.6;
    }

    &.mobile-space-navigation__toggle--open {
      background-image: url(../images/space/space-navigation-close.svg);
    }
  }
}

.mobile-space-navigation__content {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 200;
  background: #fff;
  padding: 72px 24px;

  .space-toc {
    a {
      line-height: 36px;
    }
  }

  .page-tree__toggle {
    opacity: 1;
    left: -12px;
  }

  .page-tree__page-link {
    margin-left: 22px;
  }

  .page-tree__edit-actions {
    opacity: 1;

    span, a {
      background-color: #fff;
    }
  }
}



// Media queries
@media (min-width: 769px) {
  .mobile-space-navigation {
    display: none;
  }
}
