.page-tree {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: block;
    position: relative;
  }

  // Nested lists
  ul {
    display: none;
    margin: 0;
    padding: 0 0 0 12px;
    list-style: none;
  }
}

.page-tree__page-inner {
  &:hover, &:focus, &:active {
    > .page-tree__edit-actions {
      opacity: 1;
    }
  }
}

.page-tree__page-link {
  @include ellipsis;
  display: block;
  font-size: 13px;
  line-height: 47px;
  height: 48px;
  color: $color-text-secondary;
  border-bottom: 1px dotted #E1E3E6;
  padding-right: 0;

  &:hover, &:focus, &:active {
   color: #A7A9AE;
  }
}

.page-tree__active > .page-tree__page-link:first-child {
 color: #A7A9AE;
}

.page-tree__toggle {
  position: absolute;
  top: 0;
  left: -27px;
  width: 27px;
  height: 48px;
  background: transparent url(../images/space/toc-closed.svg) no-repeat center center;
  cursor: pointer;
  opacity: 0;
  transition: 0.2s;

  &:hover, &:focus, &:active {
   opacity: 0.4 !important;
  }
}

.page-tree__toggle.page-tree__toggle--active {
  background-image: url(../images/space/toc-open.svg);
}

.page-tree__edit-actions {
  position: absolute;
  top: 3px;
  right: -4px;
  z-index: 1;
  opacity: 0;
  transition: all 0.4s;

  span, a {
    display: block;
    float: left;
    height: 40px;
    width: 24px;
    padding: 0 4px;
    margin-top: 1px;
    background-color: #F7FAFC;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 0.2s;

    &:hover, &:active, &:focus {
      transform: scale(1.1);
    }

    &.page-tree__remove {
      background-image: url(../images/space/tree-delete.svg);
    }

    &.page-tree__add-subpage {
      width: 30px;
      position: relative;

      &:hover, &:active, &:focus {
        &:before {
          border-color: $color-text-third;
        }
      }

      &:before {
        display: block;
        content: " ";
        position: absolute;
        top: 9px;
        left: 4px;
        width: 22px;
        height: 22px;
        border: 1px solid #CDCED1;
        border-radius: 11px;
        background: url(../images/space/tree-new.svg) no-repeat center center;
        transition: all 0.2s;
      }
    }
  }
}

// Medium viewports
@media (min-width: 769px) {

}

// Large viewports
@media (min-width: 1260px) {
  .page-tree__page-link {
    // padding-right: 60px;
  }
}

@media (min-width: 1460px) {
}
