.space-actions {
  position: fixed;
  bottom: 12px;
  right: 12px;
  z-index: 1000;

  .button {
    float: right;
    margin: 0;
  }

  .avatars {
    float: right;
    margin: 4px 29px 0 0;
  }
}

.body-space-edit .space-actions {
  right: 124px;
  bottom: 15px;

  .avatars {
    margin: 0px;
  }
}
