/**
 * Page
 */
.space-page {
  margin: 0 auto;
  padding: 152px 0 60px 0;
}



/**
 * Page meta
 */
.space-page-meta {
  font-size: 13px;
  color: #999;
  margin: 11px 0 0 0;
}



/**
 * Page content
 */
 // TODO Remove .space-page-content when merged with feature/dropdowns branch
.space-page-content, .spaces-page__content {
  margin-top: 36px;

  // Remove margins from elements and let users control this with linebreaks instead, i.e. <p><br></p> in the editor
  h2, h3, h4, h5, h6, p, ul, ol, pre, table, form, label {
    margin: 0;
  }

  // The <br> line-height controls the height of linebreaks
  br {
    line-height: 24px;
  }

  // Add margin between headlines and next sibling
  h2, h3, h4, h5, h6 {
    & + * {
      margin-top: 12px;
    }
  }

  // Style images
  img {
    border-radius: 5px;
  }
}



/**
 * Edit page
 */
.space-page.space-page-edit {
  padding-top: 80px;
  padding-bottom: 120px;

  form {
    margin: 0;
  }

  input[type=text] {
    font-size: 28px;
    font-family: 'Galano Grotesque Light', sans-serif;
    font-weight: 300;
    line-height: 36px;
    height: 36px;
    color: $color-title;
    margin-top: 0;
    border: 0;
    padding: 0;
    background: transparent;
    border-radius: 0;

    &:hover, &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: #999;
    }

    &::-moz-placeholder {
      color: #999;
    }

    &:-ms-input-placeholder {
      color: #999;
    }
  }

  .ql-editor.ql-blank::before {
    font-style: normal;
    color: #999;
  }
}

#page-editor {
  position: relative;
}
