.space-actions {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
  z-index: 300;
  background: #fff;
  border-top: 1px solid #EDEFF0;

  ul {
    margin: 0;
    padding: 0 24px;
    list-style: none;
  }

  li {
    float: left;
    width: 33.333333333%;
  }

  a {
    display: block;
    font-size: 13px;
    line-height: 48px;
    color: $color-text-secondary;
    padding: 0 30px 0 33px;
    background-repeat: no-repeat;
    background-position: left center;

    &:hover, &:active, &:focus {
      color: $color-text-secondary;
      opacity: 0.6;
    }
  }

  // Hides words on smaller viewports
  span span {
    display: none;
  }
}

.space-actions__edit {
  background-image: url(../images/space/edit-page.svg);
}

.space-actions__new {
  background-image: url(../images/space/new-page.svg);
}

.space-actions__settings {
  background-image: url(../images/space/space-settings.svg);
}



// Medium viewports
@media (min-width: 769px) {
  .space-actions {
    display: block;
    width: 240px;
    height: 60px;

    ul {
      padding: 0 36px;
    }

    a {
      height: 60px;
      line-height: 60px;
    }

    // Hides words on medium viewports
    span {
      display: none;
    }

    .space-actions__edit {
      background-position: left center;
    }

    .space-actions__new {
      background-position: center center;
    }

    .space-actions__settings {
      background-position: right center;
    }
  }
}



// Large viewports
@media (min-width: 1260px) {
  .space-actions {
    left: auto;
    top: 96px;
    right: 36px;
    width: 168px;
    height: auto;
    bottom: auto;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0,0,0,0.12);

    ul {
      padding: 25px 36px 23px 36px;
    }

    li {
      float: none;
      display: block;
      width: 100%;
    }

    a {
      height: 36px;
      line-height: 36px;
      padding-right: 0;
    }

    // Shows all words on larger viewports
    span, span span {
      display: inline;
    }

    .space-actions__edit, .space-actions__new, .space-actions__settings {
      background-position: left center;
    }
  }
}
