/**
 * Sidebar
 */
.space-sidebar {
  margin: 162px 0 0 0;
  padding: 0 36px 24px 0;

  h3 {
    margin: 0;
    font-family: "Galano Grotesque", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    line-height: 24px;
    color: $color-text-secondary;
  }

  h3 a {
    display: block;
    color: $color-text-secondary;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s;

    &:hover, &:active, &:focus {
      color: $color-text-secondary;
      text-decoration: none;
      opacity: 0.6;
    }
  }
}



/**
 * Pages navigation
 */
.space-sidebar-pages {
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;

  li {
    display: block;
    padding: 0;
  }

  li > a:first-child {
    display: block;
    color: $color-text-secondary;
    font-size: 13px;
    line-height: 18px;
    padding: 6px 0;
    // background: url(../images/space/page-bullet-icon.svg) no-repeat left center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s;

    &.space-sidebar-pages-closed {
      // background-image: url(../images/space/page-closed-icon.svg);
    }

    &.space-sidebar-pages-open {
      // background-image: url(../images/space/page-open-icon.svg);
    }
  }

  li.space-sidebar-active > a:first-child, li a:hover, li a:active, li a:focus {
    color: $color-primary;
    text-decoration: none;
  }

  // Nested lists
  ul {
    margin: 0;
    padding: 0 0 0 12px;
    list-style: none;
  }
}



/**
 * Edit sidebar
 */
.space-sidebar.space-sidebar-edit {
  margin-top: 90px;

  &:hover, &:active, &:focus {
    h3 span, .space-sidebar-edit-actions {
      opacity: 1;
      top: 0;
    }
  }

  h3 {
    position: relative;
  }

  h3 span {
    display: block;
    position: absolute;
    top: 5px;
    right: -12px;
    height: 24px;
    width: 42px;
    padding: 0 12px;
    background: #fff url(../images/space/settings-icon.svg) no-repeat center center;
    opacity: 0;
    transition: all 0.4s;
  }

  li {
    position: relative;
  }
}

.space-sidebar-edit-actions {
  position: absolute;
  top: 5px;
  right: -6px;
  opacity: 0;
  transition: all 0.4s;

  span, a {
    margin-top: -2px;
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    padding: 0 6px;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 0.2s;

    &:hover, &:active, &:focus {
      text-decoration: none;
      opacity: 0.6;
    }
  }
}

.space-sidebar-move {
  background-image: url(../images/space/move-icon.svg);
  cursor: move;
  display: none !important; // Remove this once we've implemented sorting
}

.space-sidebar-remove {
  background-image: url(../images/space/remove-icon.svg);
  width: 27px;
}

.space-sidebar-add-subpage {
  background-image: url(../images/space/add-subpage-icon.svg);
  width: 31px;
}
