.space-page {
  width: 100%;
  min-height: 100vh;
  padding: 81px 24px;
  background: #fff;
}

.space-page__meta {
  font-size: 13px;
  line-height: 24px;
  color: $color-text-faded;
  margin-top: 10px;
}

.space-page__content {
  padding-top: 36px;

  // Remove margins from elements and let users control this with linebreaks instead, i.e. <p><br></p> in the editor
  h2, h3, h4, h5, h6, p, ul, ol, pre, table, form, label {
    margin: 0;
  }

  // The <br> line-height controls the height of linebreaks
  br {
    line-height: 24px;
  }

  // Add header margins
  h2, h3, h4, h5, h6 {
    margin-top: 12px;

    & + * {
      margin-top: 12px;
    }
  }

  // Style images
  img {
    border-radius: 5px;
  }

  // Unordered lists
  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 0 0 0 18px;
      background: url(../images/space/ul-icon.svg) no-repeat 0 12px;
    }
  }

  // Ordered lists
  ol {
    padding: 0 0 0 18px;
  }

  li {
    margin-top: 6px;

    &:first-child {
      margin-top: 0;
    }
  }
}



// Edit
.space-page.space-page--edit {
  form {
    margin: 0;
  }

  input[type=text] {
    font-size: 31px;
    font-weight: normal;
    line-height: 48px;
    height: 48px;
    color: $color-title;
    margin-top: 0;
    border: 0;
    padding: 0;
    background: transparent;
    border-radius: 0;

    &:hover, &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: $color-text-faded;
    }

    &::-moz-placeholder {
      color: $color-text-faded;
    }

    &:-ms-input-placeholder {
      color: $color-text-faded;
    }
  }

  .ql-editor.ql-blank::before {
    font-style: normal;
    color: $color-text-faded;
  }
}

#page-editor {
  position: relative;
}



// Medium viewports
@media (min-width: 769px) {
  .space-page {
    width: calc( 100% - 240px );
    min-height: calc( 100vh - 60px );
    padding: 73px 84px;
    float: left;
    border-left: 1px solid #F0F2F3;
  }

  .space-page__meta {
    margin-top: 6px;
  }

  .space-page__content {
    padding-top: 35px;
  }

  .space-page--edit .space-page__content {
    padding-top: 29px;
  }
}



// Large viewports
@media (min-width: 1260px) {
  .space-page {
    width: calc( 100% - 240px - 240px );
    min-height: calc( 100vh - 60px - 36px );
    padding: 85px 108px 84px 96px;
    margin-top: 36px;
    margin-bottom: 36px;
    border-left: 0;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0,0,0,0.12), 0 4px 10px rgba(0,0,0,0.03);
  }

  .space-page--edit {
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
    padding-bottom: 144px;
  }
}
