.topbar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 60px;
  padding: 0 36px;
  background: #fff;
  background: rgba(255, 255, 255, 0.98);
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);

  // Team toggle
  // .dropdown--teams .dropdown__toggle {
  //   display: block;
  //   padding: 17px 12px !important;
  //   transition: all 0.5s $easing;
  //
  //   img {
  //     width: 26px;
  //     height: 26px;
  //     border-radius: 5px;
  //   }
  //
  //   &:hover, &:active, &:focus {
  //     transform: scale(1.1);
  //   }
  // }
}

.topbar__teams-accounts {
  position: relative;
  display: block;
  float: left;
  padding: 16px 24px 16px 43px;

  .team-icon {
    position: absolute;
    top: 16px;
    left: 0;
  }

  h3, p {
    @include ellipsis;
    max-width: 72px;
  }

  h3 {
    margin: 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 16px;
    color: $color-text-secondary;
  }

  p {
    margin: 0;
    font-size: 11px;
    line-height: 16px;
    color: $color-text-faded;
  }
}


// Search
.topbar__search {
  position: relative;
  float: left;
  width: calc(100vw - 300px - 180px);

  // Divider
  &:before {
    display: block;
    content: " ";
    position: absolute;
    top: 17px;
    left: 0px;
    width: 1px;
    height: 26px;
    background: #E8EBED;
  }

  // Search input
  input {
    display: block;
    width: 100%;
    background: transparent;
    height: 60px;
    padding: 22px 0 22px 24px;
    margin: 0 0 0 1px;
    border: 0;
    border-radius: 0;
    font-size: 13.5px;
    font-weight: normal;
    line-height: 16px;
    color: $color-text-primary;

    &:hover, &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: #A7A9AE;
      transition: color 0.2s;
    }

    &:hover::-webkit-input-placeholder {
      color: $color-text-secondary;
    }

    &::-moz-placeholder {
      color: #A7A9AE;
      transition: color 0.2s;
    }

    &:hover::-moz-placeholder {
      color: $color-text-secondary;
    }

    &:-ms-input-placeholder {
      color: #A7A9AE;
      transition: color 0.2s;
    }

    &:hover:-ms-input-placeholder {
      color: $color-text-secondary;
    }
  }
}

// Spaces
.topbar__spaces {
  display: block;
  float: right;
  font-size: 13.5px;
  line-height: 60px;
  padding: 0 24px 0 12px;
  color: $color-text-secondary;

  &:hover, &:active, &:focus {
    color: $color-text-secondary;
    opacity: 0.6;
  }
}

// Support
.topbar__support {
  display: block;
  float: right;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  background: #fff url(../images/topbar/help.svg) no-repeat center center;
  border: 1px solid #D2D3D7;
  margin-top: 16px;
  transition: all 0.2s ease-out;

  &:hover, &:active, &:focus {
    border-color: $color-text-third;
    transform: scale(1.1);
  }
}

// Share
.topbar__share {
  float: right;
  margin: 14px 0 0 24px;
}



// Invite link
// .topbar__invite {
//   @include clearfix;
//   float: right;
//   padding: 14px 4px 14px 7px;
//   margin-left: 9px;
//   transition: all 0.5s $easing;
//
//   &:hover, &:active, &:focus {
//     transform: scale(1.05);
//
//     .topbar__invite-add {
//       box-shadow: inset 0 0 0 1px $color-text-third;
//     }
//   }
//
//   span {
//     position: relative;
//     display: block;
//     float: left;
//     width: 30px;
//     height: 30px;
//     border-radius: 15px;
//     margin: 1px 0 0 -7px;
//     border: 2px solid #fff;
//
//     &:first-child {
//       margin-left: 0;
//     }
//
//     // The fifth element is made visible for larger viewports in the media queries
//     &:nth-child(4) {
//       display: none;
//     }
//
//     &.topbar__invite-empty {
//       background: url(../images/topbar/avatar-empty.svg) no-repeat center center;
//     }
//
//     &.topbar__invite-add {
//       border-radius: 16px;
//       width: 32px;
//       height: 32px;
//       margin-top: 0;
//       background: #fff url(../images/topbar/invite.svg) no-repeat center center;
//       box-shadow: inset 0 0 0 1px #D2D3D7;
//       transition: all 0.5s;
//     }
//   }
// }





// Medium viewports
@media (min-width: 769px) {
  .topbar {
    display: block;
  }
}
