.topbar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 61px;
  background: #fff;
  border-bottom: 1px solid #EEEFF0;
  padding: 0 36px;

  // Main navigation
  nav {
    @include clearfix;
    float: right;

    > ul {
      margin: 0;
      padding: 0;
      list-style: none;

      > li {
        float: left;

        > a, > .dropdown > .dropdown__toggle {
          display: block;
          font-size: 13px;
          line-height: 60px;
          padding: 0 18px;
          color: $color-text-secondary;
          vertical-align: middle;

          &:hover, &:active, &:focus {
            color: $color-text-secondary;
            opacity: 0.6;
          }
        }
      }
    }
  }

  // Account toggle
  .dropdown--accounts .dropdown__toggle {
    padding: 18px !important;
  }
}



// Logo
.topbar__logo {
  float: left;
  display: block;
  padding: 15px 0;

  img {
    height: 30px;
    width: auto;
  }

  &:hover, &:active, &:focus {
    opacity: 0.6;
  }
}



// Search
input.topbar__search {
  display: block;
  float: left;
  background: #fff;
  width: calc(100% - 700px);
  min-width: 150px;
  height: 60px;
  padding: 22px 0;
  margin: 0 0 0 36px;
  border: 0;
  border-radius: 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  color: $color-text-primary;

  &:hover, &:focus {
    outline: none;
  }

  &::-webkit-input-placeholder {
    color: #A7A9AE;
  }

  &::-moz-placeholder {
    color: #A7A9AE;
  }

  &:-ms-input-placeholder {
    color: #A7A9AE;
  }
}



// Invite link
.topbar__invite {
  @include clearfix;
  float: right;
  padding: 18px 0 18px 18px;

  &:hover, &:active, &:focus {
    opacity: 0.6;
  }

  span {
    display: block;
    float: left;
    width: 24px;
    height: 24px;
    margin-left: 12px;

    &:first-child {
      margin-left: 0;
    }

    // The fifth element is made visible for larger viewports in the media queries
    &:nth-child(5) {
      display: none;
    }
  }
}

.topbar__invite-team-icon img {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 12px;
}

.topbar__invite-empty {
  border-radius: 12px;
  background: url(../images/topbar/avatar-empty.svg) no-repeat center center;
}

.topbar__invite-add {
  border-radius: 12px;
  background: $color-primary url(../images/topbar/invite-icon.svg) no-repeat center center;
}



// Media queries
@media (min-width: 769px) {
  .topbar {
    display: block;
  }
}

@media (min-width: 1360px) {
  .topbar__invite {
    span:nth-child(5) {
      display: block;
    }
  }
}

@media (min-width: 1360px) and (max-width: 1420px) {
  .topbar__invite {
    span {
      margin-left: 10px;
    }
  }
}
