/**
 * Topbar
 */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 73px;
  background: #fff;
  border-bottom: 1px solid #E6E8EB;
  // box-shadow: 0 0 10px rgba(0,0,0,0.03);

  a {
    &:hover, &:active, &:focus {
      color: $color-text-secondary;
      text-decoration: none;
      opacity: 0.6;
    }
  }
}

.body-space.body-space-edit {
  .topbar {
    display: none;
  }
}



/**
 * Logo
 */
.topbar-logo {
  display: inline-block;
  padding: 21px 0;

  img {
    height: 30px;
    width: auto;
    max-width: 100%;
    border-radius: 5px;
  }
}



/**
 * Search
 */
input.topbar-search {
  display: block;
  float: left;
  background: #fff;
  width: 440px;
  height: 72px;
  padding: 28px 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  font-size: 14px;
  line-height: 16px;
  color: $color-text-primary;

  &:hover, &:focus {
    outline: none;
  }

  &::-webkit-input-placeholder {
    color: #A6A6A6;
  }

  &::-moz-placeholder {
    color: #A6A6A6;
  }

  &:-ms-input-placeholder {
    color: #A6A6A6;
  }
}



/**
 * Navigation container
 */
nav {
  @include clearfix;
  float: right;
  margin-right: -18px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    float: left;
  }

  a {
    display: block;
    font-size: 14px;
    line-height: 72px;
    padding: 0 18px;
    color: $color-text-secondary;
    text-decoration: none;
    vertical-align: middle;
  }
}



/**
 * Account navigation
 */
.topbar-account {
  display: block;
  float: right;
  margin-right: -30px;
  padding: 21px 30px 21px 36px;

  img {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
  }
}
