<% if @invitation.present? %>

  <h1><%= "Hi #{@invitation.first_name}" %></h1>
  <h3>We welcome YOU on Spaces</h3>

  <%= link_to "login", login_with_invitation_path(token: @invitation.token) %>

  <%= link_to "or sign up with your email", register_with_invitation_path(token: @invitation.token) %>

<% else %>

  <h1>Invitation no longer exists</h1>

  <p><%= link_to "Take me back", landing_url(subdomain: "") %></p>

<% end %>
