<main>
  <div class="card">
    <header>
      <h1>New Team</h1>
    </header>

    <div class="card-content">
      <%= render 'teams/form', team: @team_form, url: login_register_funnel_create_team_path %>

      <div class="card-actions">

      </div>
    </div>
  </div>
</main>
