<div class="dropdown dropdown--accounts">
  <ul class="dropdown__accounts-list">
    <li>
      <img src="" alt="">

      <h3>Karl Ollars</h3>

      <a href="#">Account settings</a>
    </li>

    <li>
      <div></div>

      <h3>Have another account?</h3>

      <a href="#">Sign in</a>
    </li>
  </ul>

  <div class="dropdown__footer">
    <a href="#" class="dropdown__expand">Accounts</a>

    <a href="#" class="button">Sign out</a>
  </div>
</div>
