<div class="dropdown dropdown--spaces">
  <%= link_to 'Spaces', spaces_path, class: 'dropdown__toggle' %>

  <div class="dropdown__content">
    <div class="dropdown__arrow"></div>

    <div class="dropdown__scroll-container">
      <ul class="dropdown__spaces-list">
        <li>
          <a href="#">Product</a>

          <div class="dropdown">
            <div class="dropdown__toggle overflow-toggle">
              <div></div>
            </div>

            <ul class="dropdown__content dropdown__content--right">
              <li>
                <a href="#">Edit space</a>
                <a href="#">Members</a>
                <a href="#">Settings</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>

      <%= link_to 'New space', new_space_path, class: 'button button--primary' %>
    </div>

    <div class="dropdown__footer dropdown__footer--centered">
      <%= link_to 'Spaces', spaces_path, class: 'dropdown__expand' %>
    </div>
  </div>
</div>
