<div class="dropdown">
  <ul class="dropdown__list">
    <li>
      <a href="#">Space name</a>

      <div class="overflow">
        <div class="overflow__toggle">
          <div></div>
        </div>

        <ul class="overflow__content">
          <li>
            <a href="#">Edit space</a>
            <a href="#">Members</a>
            <a href="#">Settings</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>

  <a href="#" class="button button--primary">New space</a>

  <div class="dropdown__footer dropdown__footer--centered">
    <a href="#" class="dropdown__expand">Spaces</a>
  </div>
</div>
