<nav class="mobile-navigation">
  <ul>
    <li>
      <a href="#overlay--spaces" class="mobile-navigation__spaces overlay__toggle <%= current_page?(spaces_path) ? 'mobile-navigation__active' : '' %>" aria-expanded="false" aria-controls="overlay--spaces">Spaces</a>
    </li>

    <li>
      <a href="#overlay--mobile-search" class="mobile-navigation__search overlay__toggle" aria-expanded="false" aria-controls="overlay--mobile-search">Search</a>
    </li>

    <li>
      <a href="#overlay--share" class="mobile-navigation__share overlay__toggle" aria-expanded="false" aria-controls="overlay--share">Share</a>
    </li>

    <li>
      <a href="#" class="mobile-navigation__support drift-open-chat">Support</a>
    </li>

    <li>
      <a href="#overlay--teams-accounts" class="mobile-navigation__teams-accounts overlay__toggle" aria-expanded="false" aria-controls="overlay--teams-accounts">
        <%= image_tag current_team.logo_url(:image_48), alt: current_team.name %>
        Team
      </a>
    </li>
  </ul>
</nav>
