<div class="overlay overlay--mobile-search" id="overlay--mobile-search">
  <a href="#overlay--mobile-search" class="overlay__close overlay__toggle" aria-controls="overlay--mobile-search"></a>

  <div class="overlay__content">
    <div class="overlay__topbar">
      <input type="text" class="overlay__search-input" placeholder="Search...">
    </div>

    <div class="overlay__search-results">

    </div>
  </div>
</div>
