<header class="topbar">
  <a href="#" class="topbar__teams-accounts">
    <%= image_tag current_team.logo_url(:image_72), alt: current_team.name, class: "team-icon team-icon--medium" %>
    <h3>
      <%= current_team.name %>
    </h3>

    <p>
      <%= current_user.first_name %>
    </p>
  </a>

  <div class="topbar__search">
    <input type="text" placeholder="Search" class="topbar__search" tabindex="1">
  </div>

  <a href="#" class="topbar__share button button--small button--primary">Share</a>

  <a href="#" class="topbar__support drift-open-chat tippy" title="Support" data-zIndex="102" data-distance="11"></a>

  <%= link_to 'Spaces', spaces_path, class: "topbar__spaces" %>
</header>
