<p>Welcome <%= @resource.first_name %>!</p>

<p>Please confirm your account email through the link below:</p>

<p><%= link_to "Confirm my account", @confirmation_url %></p>

<p>Have fun on spaces.is!</p>
