<p>Hi <%= @resource.first_name %>!</p>

<p>Please confirm your new account email through the link below:</p>

<p><%= link_to "Confirm my account", (@redirect_url || confirmation_url(@resource, confirmation_token: @token)) %></p>

<p>Have fun on spaces.is!</p>
